newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: 'YOUR_LICENSE_KEY_HERE'
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  verbose: 1
  #
  # Update with your proxy information (optional) for
  # communicating with new relic servers if you are behind
  # a firewall.
  #
  #proxy:
  #  address: ''
  #  port:
  #  user:
  #  password:

agents:
  haproxy:
    -
      # Friendly name for New Relic
      name: "HTTP"
      # URI of the haproxy CSV stats url. See the 'CSV Export' link on your haproxy stats page (example stats page: http://demo.1wt.eu/).
      url: "http://demo.1wt.eu/;csv"
      # The name of the proxy to monitor. Proxies are typically listed in the haproxy.cfg file.
      proxy: "http-in"
      # If multiple proxies have the same name, specify which proxy you want to monitor (ex: 'frontend' or 'backend')."
      proxy_type: "FRONTEND"
      # If protected under basic authentication provide the user name
      user: ""
      # If protected under basic authentication provide the password.
      password: ""
